* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
}

.light-mode,
.dark-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  padding: 20px 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #303030;
  color: #ddd;
  transition: background-color 0.3s ease;
  min-height: 100vh;
}

.light-mode {
  background-color: #ddd;
  color: #000;
  transition: background-color 0.3s ease;
}

.dark-mode {
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1%;
  border-radius: 6px;
}

form input,
select {
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-bottom: 12px;
  transition: border 0.3s ease;
}

form input:focus,
select:focus {
  border-color: #888;
}

.light-mode form input,
.light-mode select {
  background: #f0f0f0;
  color: #333;
}

.dark-mode form input,
.dark-mode select {
  background: #222;
  color: #d8d4d4;
}

select {
  cursor: pointer;
}

form .middle {
  display: flex;
  gap: 8px;
}

form .second input {
  width: 100%;
}

form button {
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #3b82f6;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #2563eb;
}

.transactions {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.transaction {
  margin: 8px 0;
  padding: 8px;
  display: flex;
  align-items: center;
  width: 100%;
}

.transaction-details {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
  padding-right: 24px;
}

.light-mode .transaction {
  border-top: 1px solid #333;
}

.dark-mode .transaction {
  border-top: 1px solid #ddd;
}

.transaction:first-child {
  border: none;
}

.transaction .first,
.transaction .second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction .first {
  margin-bottom: 4px;
}

.transaction .name {
  font-size: 1.6rem;
}

.transaction .amount {
  font-size: 1.3rem;
  color: inherit;
}

.transaction .description {
  font-size: 1rem;
  margin-right: 10px;
  opacity: 0.6;
}

.transaction .date {
  font-size: 0.8rem;
  opacity: 0.6;
}
