*{
  box-sizing: border-box;
  font-family: sans-serif;
}

.light-mode, 
.dark-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #303030;
  color: #ddd;
  transition: background-color 0.3s ease;
  min-height: 100vh;
  border: 1px solid red;
}

.light-mode{
  background-color: #ddd;
  color: #000;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}


form {
  display: flex;
  flex-direction: column;
  /* background: #444; */
  padding: 20px;
  border-radius: 6px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
}


form input, select {
  padding: 10px;
  border: 1px solid #666;
  border: none;
  border-radius: 6px;
  /* background: #222; */
  color: #ddd;
  margin-bottom: 12px;
  transition: border 0.3s ease;
}

form input:focus, select:focus {
  border-color: #888;
}

.light-mode form input, 
.light-mode select {
  background: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
}
.dark-mode form input, 
.dark-mode select {
  background: #222;
  color: #d8d4d4;
}


form .middle {
  display: flex;
  gap: 8px;
}

form .second input {
  width: 100%;
}

  form button {
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #3b82f6;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #2563eb;
}

.transactions {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}


.transaction:first-child {
  border: none;
}
.transaction {
  border-top: 1px solid #ddd;
  margin: 8px 0;
  padding: 8px;
}

/* .transaction {
  border-top: 1px solid #666;
  margin: 12px 0;
  padding: 10px;
  background-color: #444;
  border-radius: 6px;
  transition: background-color 0.3s ease;
} */

.transaction .first, .transaction .second {
  display: flex;
  justify-content: space-between;
}

.transaction .name {
  font-size: 1.5rem;
}

.transaction .amount {
  font-size: 1.1rem;
  color: inherit;
}

.transaction .description {
  font-size: 1rem;
  margin-right: 10px;
}

.transaction .date {
  font-size: 0.8rem;
}

.light-mode .transaction {
  background-color: #fff;
  border-color: #ccc;
}